/*Root*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
:root{
    --font: 'Roboto Slab', serif;
    --regular: 400;
    --medium: 500;
    --semiBold:600;
    --bold:700;
    --white: #ffffff;
    --black: #000000;
    --primary-color: #ffa600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
/*Navbar*/
.navbar-brand{
    font-size: 28px;
}
.navbar-brand > span {
    color: var(--primary-color);
}

/*Encabezado*/
.encabezado-img{
    background-image: url(../assets/imagen-destacada-desarrollo-web-tesla-university.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.encabezado-img > .animation> p{
    font: var(--font);
    font-weight: var(--semiBold);
    color: var(--white);
    font-size: 1.5rem;
}

#mision{
    font: var(--font);
    font-weight: var(--bold);
    color: var(--white);
    font-size: 10rem;
}

.animation{
    animation-name: escala;
    animation-duration: 0.5s;
}

@keyframes escala {
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(0.2);
    }
    40%{
        transform: scale(0.4);
    }
    60%{
        transform: scale(0.6);
    }
    80%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

/*Main Content*/

h1{
    color: var(--primary-color);
}

main > div > p > span{
    color: var(--primary-color);
    font-size: 24px;
}

main > div > h3{
    background-color: var(--primary-color);
}

/*Media querys*/

@media screen and (max-width:768px) {
    #mision{
        font: var(--font);
        font-weight: var(--bold);
        color: var(--white);
        font-size: 5rem;
    }
}

@media screen and (max-width:400px) {
    #mision{
        font: var(--font);
        font-weight: var(--bold);
        color: var(--white);
        font-size: 2.5rem;
    }

    .burger{
        display: flex !important;
        justify-content: center !important;
    }
}